@layer base {
  html {
    @media (min-width: 320px) {
      font-size: 12px;
    }
    @media (min-width: 375px) {
      font-size: 16px;
    }
    @media (min-width: 768px) {
      font-size: 20px;
    }
    @media (min-width: 2560px) {
      font-size: 24px;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-primary text-foreground;
  }

  .content {
    @apply max-w-[75rem] mx-auto;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
  }
}
